@using DepoYonetimSistemi.EntityLayer
@model Kullanici

@{
    ViewBag.Title = "Kullanıcı Ekle";
}


<div class="row">
    <div class="col-md-12">
        <h2>Kullanıcı Ekle</h2>
    </div>
</div>
<hr />
@using (Html.BeginForm("Insert", "Kullanici", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row mb-2">
        @Html.LabelFor(x => x.Ad, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Ad, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-2">
        @Html.LabelFor(x => x.Soyad, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Soyad, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-2">
        @Html.LabelFor(x => x.Yetkiler, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(x => x.Yetkiler, new { @class = "form-select" })
            @Html.ValidationMessageFor(x => x.Yetkiler, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-2">
        @Html.LabelFor(x => x.EPosta, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.EPosta, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.EPosta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-2">
        @Html.LabelFor(x => x.Parola, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.PasswordFor(x => x.Parola, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Parola, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-2">
        @Html.LabelFor(x => x.ParolaTekrar, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.PasswordFor(x => x.ParolaTekrar, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ParolaTekrar, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-2">
        <div class="offset-md-2 col-md-10">
            <a href="@Url.Action("Index", "Kullanici")" class="btn btn-danger"><i class="fa fa-thumbs-down"></i> İptal</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Kaydet</button>
        </div>
    </div>
}
